# SQL Server connection
SQLSERVER_DRIVER=ODBC Driver 17 for SQL Server
SQLSERVER_SERVER=.\SQLEXPRESS
SQLSERVER_DATABASE=HOCHIEU
SQLSERVER_TRUSTED_CONNECTION=true
SQLSERVER_TRUST_SERVER_CERTIFICATE=true
SQLSERVER_USERNAME=
SQLSERVER_PASSWORD=

# OCR settings
OCR_IMAGE_INPUT_DIR=D:/DocHochieu/Backend/images
RENAME_IMAGE_INPUT_DIR=D:/DocHochieu/Backend/images
IMPORT_SOURCE_IMAGE_INPUT_DIR=D:/DocHochieu/Backend/imagesGoc
IMPORT_TARGET_IMAGE_OUTPUT_DIR=D:/DocHochieu/Backend/images
MLZ_MASK_INPUT_DIR=C:/Users/Admin/Downloads/tonghop/tonghop/tonghop
MLZ_MASK_OUTPUT_DIR=D:/DocHochieu/tonghop_mask
MLZ_CROP_INPUT_DIR=C:/Users/Admin/Downloads/tonghop/tonghop/tonghop
MLZ_CROP_OUTPUT_DIR=D:/DocHochieu/tonghop_crop
MLZ_METADATA_INPUT_PATH=C:/Users/Admin/Downloads/tonghop/tonghop/tonghop/metadata.jsonl
MASK_REVIEW_IMAGE_DIR=D:/DocHochieu/tonghop_mask
MASK_REVIEW_ERROR_DIR=D:/DocHochieu/tong_hop_mask_loi
MASK_REVIEW_STATE_PATH=D:/DocHochieu/tonghop_mask/review_state.json
OCR_LANGUAGE=en
PADDLE_OCR_VERSION=PP-OCRv5
PADDLE_OCR_DEVICE=gpu:0
PADDLE_PDX_MODEL_SOURCE=BOS
PADDLE_USE_DOC_ORIENTATION_CLASSIFY=true
PADDLE_USE_TEXTLINE_ORIENTATION=true
OCR_AUTO_ROTATE_AND_OVERWRITE=true
PADDLE_DOC_ORIENTATION_MODEL_DIR=C:/Users/Admin/.paddlex/official_models/PP-LCNet_x1_0_doc_ori
PADDLE_TEXTLINE_ORIENTATION_MODEL_DIR=C:/Users/Admin/.paddlex/official_models/PP-LCNet_x1_0_textline_ori
PADDLE_TEXT_DETECTION_MODEL_DIR=D:/DocHochieu/Backend/models/paddle/PP-OCRv5_server_det
PADDLE_TEXT_RECOGNITION_MODEL_DIR=D:/DocHochieu/Backend/models/paddle/en_PP-OCRv5_mobile_rec
DONUT_MODEL_DIR=D:/DocHochieu/Backend/models/donut/checkpoint-16180
DONUT_PROCESSOR_DIR=D:/DocHochieu/Backend/models/donut/processor
DONUT_DEVICE=cuda
DONUT_TASK_PROMPT=<s_passport>
DONUT_MAX_NEW_TOKENS=192
DONUT_CPU_THREADS=4
DONUT_CACHE_SIZE=32
DONUT_INFERENCE_IMAGE_WIDTH=2560
DONUT_INFERENCE_IMAGE_HEIGHT=1920
DONUT_USE_DYNAMIC_QUANTIZATION=false
INFERENCE_UPLOAD_DIR=D:/DocHochieu/Backend/uploads/passport_inference
INFERENCE_SKIP_OCR_AUTO_ROTATE=false

# API settings
API_HOST=127.0.0.1
API_PORT=8000
APP_LOG_DIR=D:/DocHochieu/Backend/logs
FRONTEND_ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
