fastapi==0.139.0
pillow==12.3.0
--extra-index-url https://www.paddlepaddle.org.cn/packages/stable/cu126/
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-nvjitlink-cu12==12.9.86
paddlepaddle-gpu==3.2.1
paddleocr==3.2.0
pyodbc==5.3.0
python-multipart==0.0.32
--extra-index-url https://download.pytorch.org/whl/cu126
safetensors==0.8.0
sentencepiece==0.2.1
torch==2.13.0+cu126
transformers==5.13.0
uvicorn==0.50.0
